header{
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}

ul{
    width: 480px;
    display: flex;
    justify-content: space-between;
    text-decoration: solid;
    list-style: none;
}

a{
    text-decoration: none;
    color: #FED136;
}