header{
    display: $header-display;
    justify-content: space-around;
    margin-top: 38px;
}

ul{
    width: 480px;
    display: $header-display;
    justify-content: space-between;
    text-decoration: solid;
    list-style: none;
}

a{
    text-decoration: none;
    color: $nav-color;
}